{% extends 'base.html.twig' %}

{% block title %}Care index{% endblock %}

{% block body %}
    <div class="table-container">
        <h2>Care index</h2>
        <div class="table-con">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>CareType</th>
                        <th>AnimalName</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for care in cares %}
                    <tr>
                        <td>{{ care.id }}</td>
                        <td>{{ care.careType }}</td>
                        <td>{{ care.animalName }}</td>
                        <td>
                            <a href="{{ path('app_care_show', {'id': care.id}) }}">Show</a>
                            <a href="{{ path('app_care_edit', {'id': care.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a href="{{ path('app_care_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
