{% extends 'base.html.twig' %}

{% block title %}Care{% endblock %}

{% block javascripts %}
    <script src="/js/validators/CareValid.js" defer></script>
{% endblock %}

{% block body %}
<div class="table-container">
    <h2>Care</h2>
    <div class="table-con">
        <table class="table">
            <tbody>
                {# <tr>
                    <th>Id</th>
                    <td>{{ care.id }}</td>
                </tr> #}
                <tr>
                    <th>CareType</th>
                    <td>{{ care.careType }}</td>
                </tr>
                <tr>
                    <th>AnimalName</th>
                    <td>{{ care.animalName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <a href="{{ path('app_care_index') }}">Back to list</a>
    </div>
    <div class="form-group">
        <a href="{{ path('app_care_edit', {'id': care.id}) }}">Edit</a>
    </div>

    <div class="form-group">
        {{ include('care/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
