{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
<div class="table-container">
    <h2>Ticket index</h2>
    <div class="table-con">
        <table class="table">
            <thead>
                <tr>
                    <th>Ticket's Number</th>
                    <th>Ticket Date</th>
                    <th>Ticket Time</th>
                    <th>Ticket Cost</th>
                    <th>User Email</th>
                    <th>Show</th>
                </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.ticketDate }}</td>
                    <td>{{ ticket.ticketTime }}</td>
                    <td>{{ ticket.ticketCost }}</td>
                    <td>{{ ticket.userEmail }}</td>
                    <td>
                        <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}" class="btn-link">Show</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <a href="{{ path('app_ticket_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
