{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
    <div class="table-container">
        <h2>Animals</h2>
        {{ form_start(form, {'method': 'GET'}) }}
            <div class="filters">
            <div class="form-group">
                {{ form_row(form.animalName) }}
            </div>
            <div class="form-group">
                {{ form_row(form.animalGender) }}
            </div>
            <div class="form-group">
                {{ form_row(form.animalAge) }}
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Filter</button>
            </div>
            </div>
        {{ form_end(form) }}
        <div class="table-con">
            <table class="table">
                <thead>
                    <tr>
                        {% set direction = currentDirection == 'asc' ? 'desc' : 'asc' %}
                        {% set baseParams = form.vars.value|default({})|merge(app.request.query.all|default({})) %}

                        <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'animalName', 'direction': direction})) }}">Animal Name</a></th>
                        <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'animalGender', 'direction': direction})) }}">Gender</a></th>
                        <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'animalAge', 'direction': direction})) }}">Age</a></th>
                        <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'animalCage', 'direction': direction})) }}">Cage Number</a></th>
                        <th>Care</th>
                        <th>Show</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for animal in animals %}
                    <tr>
                        <td>{{ animal.care.animalName }}</td>
                        <td>{{ animal.animalGender }}</td>
                        <td>{{ animal.animalAge }}</td>
                        <td>{{ animal.animalCage }}</td>
                        <td>{{ animal.care.careType }}</td>
                        <td>
                            <a href="{{ path('app_animal_show', {'id': animal.id}) }}" class="btn-link">Show</a>
                        </td>
                        <td>
                            <a href="{{ path('app_animal_edit', {'id': animal.id}) }}" class="btn-link">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a href="{{ path('app_animal_new') }}">Create new</a>
        </div>
    </div>
    {% else %}

    {% block stylesheets %}
    {% endblock %}
    <section class="featured-animals">
        <h2>Наши Питомцы</h2>
        
        <div class="animals-grid">
        {% for animal in animals %}
            <div class="animal-card">
                <img src="/images/animal-icon.svg" class="animal-img">
                <h3>{{ animal.care.animalName }}</h3>
                <p>Пол: {{ animal.animalGender }}</p>
                <p>Возраст: {{ animal.animalAge }}</p>
                <p>Место нахождения(клетка): {{ animal.animalCage }}</p>
                <p>Как ухаживать: {{ animal.care.careType }}</p>
            </div>
        {% endfor %}
        </div>
        
    </section>
    {% endif %}
{% endblock %}
