{% extends 'base.html.twig' %}

{% block title %}Animal index{% endblock %}

{% block body %}
    <div class="table-container">
        <h2>Animal index</h2>
        <div class="table-con">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>AnimalName</th>
                        <th>AnimalGender</th>
                        <th>AnimalAge</th>
                        <th>AnimalCage</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for animal in animals %}
                    <tr>
                        <td>{{ animal.id }}</td>
                        <td>{{ animal.animalName }}</td>
                        <td>{{ animal.animalGender }}</td>
                        <td>{{ animal.animalAge }}</td>
                        <td>{{ animal.animalCage }}</td>
                        <td>
                            <a href="{{ path('app_animal_show', {'id': animal.id}) }}">Show</a>
                            <a href="{{ path('app_animal_edit', {'id': animal.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a href="{{ path('app_animal_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
