<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зоопарк у дома</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/BasicValid.js" defer></script>
    <script src="/js/validators/AnimalValid.js" defer></script>
</head>
<body>
    {% include 'alert.twig' %}
    {% include 'header.twig' %}
    <div class="table-container">
        <h2>Зоопарк у дома</h2>

        <form method="GET" action="">
        <div class="form-group">
            <label for="filter_gender">Фильтр по полу:</label>
            <select name="filter_gender" id="filter_gender">
                <option value="">Все</option>
                <option value="м" {% if selected_gender == 'м' %}selected{% endif %}>Мужской</option>
                <option value="ж" {% if selected_gender == 'ж' %}selected{% endif %}>Женский</option>
            </select>
        </div>
        <div class="form-group">
            <label for="filter_name">Фильтр по названию:</label>
            <input type="text" name="filter_name" id="filter_name" value="{{ selected_name }}">
        </div>
            <button type="submit">Применить</button>
        </form>
        <br>
        <br>
        <div class="table-con">
            <table>
                <tr>
                    {# <th>animal_id</th> #}
                    <th>Название животного</th>
                    <th>Пол животного</th>
                    <th>Возвраст</th>
                    <th>Номер клетки</th>
                    <th>Уход</th>
                    {% if user and user.role == 'admin'%}
                        <th></th>
                    {% endif %}
                </tr>
                {% for animal in animals %}
                    <tr>
                        {# <td>{{ animal.animal_id }}</td> #}
                        <td>{{ animal.animal_name }}</td>
                        <td>{{ animal.animal_gender }}</td>
                        <td>{{ animal.animal_age }}</td>
                        <td>{{ animal.animal_cage }}</td>
                        <td>{{ animal.care_type }}</td>
                        {% if user and user.role == 'admin'%}
                        <td>
                            <button id="button_{{ animal.animal_id }}">Редактировать</button>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        {% if user and user.role == 'admin'%}
                            <td colspan="6">Нет данных</td>
                        {% else %}
                            <td colspan="5">Нет данных</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="form-group">
            <a href="/animals/pdf?filter_gender={{ selected_gender }}&filter_name={{ selected_name }}" target="_blank">Скачать PDF</a>
        </div>
    </div>
    {% include 'forms/edit_animal.twig'%}
</body>
</html>
