<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Покупка билетов</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" defer></script>
</head>
<body>
    {% include 'alert.twig' %}
    {% include 'header.twig' %}

    <div class="table-container">
        <h2>Билеты</h2>

        <br><br>
        <div class="table-con">
            <table>
                <tr>
                    <th>Номер билета</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Стоимость</th>
                    <th>Email пользователя</th>
                    <th>Qr code</th>
                    <th>Состояние</th>
                </tr>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.ticket_id }}</td>
                        <td>{{ ticket.ticket_date }}</td>
                        <td>{{ ticket.ticket_time }}</td>
                        <td>{{ ticket.ticket_cost }}</td>
                        <td>{{ ticket.user_email }}</td>
                        <td>
                            <div class="qr-code" id="qr-{{ loop.index }}"
                                data-text="TicketID:{{ ticket.ticket_id }} TicketDate:{{ticket.ticket_date}} TicketTime:{{ticket.ticket_time}}">
                            </div>
                        </td>
                        <td>
                            <button id="button_{{ ticket.ticket_id }}" 
                                    class="cancel-btn" 
                                    data-ticket-id="{{ ticket.ticket_id }}" 
                                    data-date="{{ ticket.ticket_date }}" 
                                    data-time="{{ ticket.ticket_time }}">
                                Отменить
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Нет данных</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="form-group">
            <a href="/tickets/pdf" target="_blank">Скачать PDF</a>
        </div>
    </div>
</body>
</html>

<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".qr-code").forEach(function (el) {
        new QRCode(el, {
            text: el.dataset.text,
            width: 80,
            height: 80,
        });
    });

    document.querySelectorAll('.cancel-btn').forEach(button => {
        const dateStr = button.dataset.date;
        const timeStr = button.dataset.time;
        const ticketDateTime = new Date(`${dateStr}T${timeStr}`);
        const now = new Date();

        if (ticketDateTime < now) {
            button.textContent = 'Просрочен';
            button.disabled = true;
        }
    });

    document.querySelectorAll('.cancel-btn').forEach(btn => {
        btn.addEventListener('click', function() {
            const ticketId = this.dataset.ticketId;
            if (confirm('Вы уверены, что хотите отменить билет?')) {
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/tickets/cancel';

            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'ticket_id';
            input.value = this.dataset.ticketId;
            form.appendChild(input);

            document.body.appendChild(form);
            form.submit();
            }
        });
    });
});
</script>
