<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зоопарк у дома</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/hamburger.js" defer></script>
</head>
<body>
    {% include 'menu.twig' %}
    <div class="table-container">
        <h2>Уход за животными</h2>

        <form method="GET" action="">
        <div class="form-group">
            <label for="filter_name">Фильтр по названию:</label>
            <input type="text" name="filter_name" id="filter_name" value="{{ selected_name }}">
        </div>
            <button type="submit">Применить</button>
        </form>
        <br>
        <br>
        <table>
            <tr>
                <th>care_id</th>
                <th>animal_name</th>
                <th>care_type</th>
            </tr>
            {% for care in cares %}
                <tr>
                    <td>{{ care.care_id }}</td>
                    <td>{{ care.animal_name }}</td>
                    <td>{{ care.care_type}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Нет данных</td>
                </tr>
            {% endfor %}
        </table>
        <div class="form-group">
            <a href="/cares/pdf?filter_name={{ selected_name }}" target="_blank">Скачать PDF</a>
        </div>
    </div>
</body>
</html>