{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="table-container">
    <h2>Users</h2>
    {{ form_start(form, {'method': 'GET'}) }}
            <div class="filters">
            <div class="form-group">
                {{ form_row(form.userName, {'attr': {'value': app.request.query.get('userName') ?? ''}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.userEmail, {'attr': {'value': app.request.query.get('userEmail') ?? ''}}) }}
            </div>
            <div class="form-group">
                <button class="btn" type="submit">Filter</button>
            </div>
            </div>
        {{ form_end(form) }}
    <div class="table-con">
    <table class="table">
        <thead>
            <tr>
                {% set direction = currentDirection == 'asc' ? 'desc' : 'asc' %}
                {% set baseParams = form.vars.value|default({})|merge(app.request.query.all|default({})) %}

                <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'id', 'direction': direction})) }}">Id</a></th>
                <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'userName', 'direction': direction})) }}">User Name</a></th>
                <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'userEmail', 'direction': direction})) }}">User Email</a></th>
                <th><a href="{{ path(app.request.attributes.get('_route'), baseParams|merge({'sort': 'userRole', 'direction': direction})) }}">User Role</a></th>

                <th>Show</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.userEmail }}</td>
                {# <td>{{ user.userPassword }}</td> #}
                <td>{{ user.userRole|join(', ') }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn-link">Show</a>
                </td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn-link">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="form-group">
        <a href="{{ path('app_user_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
